@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* color range  which defines flowbite and tailwind primary colors (see tailwind.config.cjs) */
	--primary-50: #f2f8fd;
	--primary-100: #e4f0fa;
	--primary-200: #c4e1f3;
	--primary-300: #8fc8ea;
	--primary-400: #54abdc;
	--primary-500: #2d91ca;
	--primary-600: #1e74ab;
	/* flowbite uses this 700 for 'primary' variants on components */
	--primary-700: #194f73;
	--primary-800: #194f73;
	--primary-900: #19405c;
	--primary-950: #112b40;
}

html {
	scroll-behavior: smooth;
}

* {
	font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.poppins {
	font-family: "Poppins", sans-serif;
}

span {
	font-family: inherit;
	font-weight: inherit;
}

.bgGrid {
	background-size: 40px 40px;
	background-image: linear-gradient(to right, grey 1px, transparent 1px),
		linear-gradient(to bottom, grey 1px, transparent 1px);
}

button,
.button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: white;
	cursor: pointer;
	transition: border-color 0.2s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
border:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.specialButton {
	border-color: #646cff;
}

.specialButtonDark {
	background: #646cff;
	color: white;
}

.specialButton:hover {
	border-color: blue;
}

.dropShadow {
	filter: drop-shadow(-10.8923px 14.523px 35.0973px rgba(29, 140, 242, 0.2));
}

.fadeIn {
	animation: fadeIn 500ms ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.dot-mask {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
	background-size: 16px 16px;
	-webkit-mask-image: radial-gradient(
		ellipse 50% 50% at 50% 50%,
		#000 60%,
		transparent 100%
	);
	mask-image: radial-gradient(
		ellipse 50% 50% at 50% 50%,
		#000 60%,
		transparent 100%
	);
}
